.calcHeader-contenedor {
    width: 320px;
    height: 96px;
    margin-bottom: 48px;
    background-color: aqua;
    text-align: center;
    overflow-x: scroll;
    color: #FFF;
    padding-top: 20px;
}