.calcFooter-contenedor {
    width: 288px;
    border-radius: 2rem;
    height: 323px;
    padding: 22.400px 16px 22.400px 16px;
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4rem,1fr));
    grid-gap: .5rem;
}


.calcHistory-contenedor{
    overflow-y: scroll;
}

.mb-6 {
    margin-bottom: 6px;
}